* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

input {
    font-size: 14px;
}

body {
    line-height: 1.4;
    color: #333;
    font-family: Helvetica, Arial, sans-serif;
}

h1 {
    margin-bottom: 16px;
}

label {
    display: block;
    font-size: 14px;
    margin-bottom: 8px;
    color: #777;
}

input {
    border: 1px solid #eee;
    padding: 12px;
    outline: none;
}

button {
    cursor: pointer;
    padding: 12px;
    background: #7c5cbf;
    border: none;
    color: white;
    font-size: 16px;
    transition: background .3s ease;
}

button:hover {
    background: #6b47b8;
}

button:disabled {
    cursor: default;
    background: #7c5cbf94;
}

a {
    text-decoration: none;
    color: #7c5cbf;
}

a:hover {
    color: #6b47b8;
}

.centered-form {
    background: #333744;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.centered-form-box {
    box-shadow: 0px 0px 17px 1px #1d1f26;
    background: #f7f7fa;
    padding: 24px;
    width: 350px;
}

.centered-form button {
    width: 100%;
}

.centered-form input {
    margin-bottom: 16px;
    width: 100%;
}

.alert.error {
    color: #c75e65;
}

.chat-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    max-height: 100%;
}

.chat-topbar {
    display: flex;
    flex-direction: row-reverse;
    height: 50px;
    color: white;
    background: #333744;
}

.chat-topbar div {
    line-height: 50px;
    padding: 0 15px;
}

.chat {
    display: flex;
    flex-grow: 1;
    min-height: 0;
}

.chat-sidebar {
    height: 100%;
    color: white;
    background: #333744;
    width: 255px;
    overflow-y: scroll;
}

.chat-main {
    height: 100%;
    display: flex;
    flex-direction: column;
    max-height: 100%;
}

.chat-messages {
    flex-grow: 1;
    padding: 24px 24px 0 24px;
    overflow-y: scroll;
}

.compose {
    display: flex;
    flex-shrink: 0;
    margin-top: 16px;
    padding: 24px;
}

.compose div {
    display: flex;
    flex-grow: 1;
    margin-right: 16px;
}

.compose input {
    border: 1px solid #eee;
    width: 100%;
    padding: 12px;
    margin: 0 16px 0 0;
    flex-grow: 1;
}

.compose button {
    font-size: 14px;
}

.message {
    margin-bottom: 16px;
}

.message.admin {
    color: #6b47b8;
}

.message-name {
    font-weight: 600;
    font-size: 14px;
    margin-right: 8px;
}

.message-meta {
    color: #777;
    font-size: 14px;
}

.message-content {
    white-space: pre-line;
}

.room-title {
    font-weight: 400;
    font-size: 22px;
    background: #2c2f3a;
    padding: 24px;
}

.list-title {
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 4px;
    padding: 12px 24px 0 24px;
}

.users {
    list-style-type: none;
    font-weight: 300;
    padding: 12px 24px 0 24px;
}

.container {
    max-height: 100%;
    height: 100%;
}

.grow {
    flex-grow: 1;
}